@import "tailwindcss";

:root {
  --background: #e2ded0;
  --foreground: #4e4f50;
  --primary: #647c90;
  --secondary: #a0bcd1;
  --teritary: #746c70;
  --textcolor:#e2ded0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary : #647c90;
  --color-background: #e2ded0;
  --color-foreground: #4e4f50;
  --color-secondary: #a0bcd1;
  --color-teritary: #746c70;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #647c90;
    --secondary: #a0bcd1;
    --teritary: #746c70;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-fade-in {
  animation: fadeIn 1s ease-in forwards;
}
.animate-slide-in {
  animation: slideIn 1s ease-out forwards;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes slideIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}